html {
    font-size: 120%;
}

.container {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 20cm;
    padding-bottom: 1000vh;
}

h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4b2e2e;
    margin-top: 10em;
    margin-bottom: 4em;
}

p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: transparent;
    background:
            radial-gradient(5px 8px at 10px 65px, #e4d2c2, transparent),
            radial-gradient(5px 8px at 210px 45px, #e4d2c2, transparent),
            radial-gradient(4px 4px at 55px 45px, #d2a679, transparent),
            radial-gradient(5px 5px at 150px 62px, #d2a679, transparent),
            #4b2e2e; /* dark brown base */
    background-size: 400px 80px;
    background-clip: text;
    -webkit-background-clip: text;
}

.attribution {
    color: #2B201B;
    margin-top: 4em;
}